body {
    margin: 0px;
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 16px;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS43WXJhIxZjt64SXhFDerYxnQArMAYbYeFG8K0NZTy0bDJxAVuig&s);
    background-size: 400%;
    text-align: center;
}
.logo{
    margin: 0px;
} 
.search-bar{
    margin: 0px;
    margin-left: 32%;
    margin-right:30%;

}